<div class="shi-wu-game">
  @if (countdown() !== null) {
  <div class="countdown">Countdown: {{ countdown() }}</div>
  } @if(playerShowingHands() !== null) {
  <div class="winner">{{ winner() }}</div>

  }
  <div class="score"></div>
  <div class="player-area">
    @if(cpuShowingHands() !== null) {
    <div class="hands">
      <div class="left-hand">
        @if((cpuShowingHands() || 0) > 0) { &#9995; } @else { &#9994; }
      </div>
      <div class="right-hand">
        @if(cpuShowingHands() === 2) { &#9995; } @else { &#9994; }
      </div>
    </div>
    }
  </div>
  <div class="player-area">
    @if(playerShowingHands() !== null) {
    <div class="hands">
      <div class="left-hand">
        @if((playerShowingHands() || 0) > 0) { &#9995; } @else { &#9994; }
      </div>
      <div class="right-hand">
        @if(playerShowingHands() === 2) { &#9995; } @else { &#9994; }
      </div>
    </div>
    }
    <div class="controls">
      @if(countdown() === 0) { TRY AGAIN! } @if (playerTarget() === null ||
      playerShowingHands() || countdown() === 0) {
      <div class="target-picker">
        PICK A TARGET @for (target of TARGETS; track target) {
        <button (click)="actions.PICK_TARGET.next(target)">{{ target }}</button>

        }
      </div>
      } @else { SHOW HANDS @for (hand of HANDS_TO_SHOW; track hand) {
      <button (click)="actions.SHOW_HANDS.next(hand)">{{ hand }}</button>
      } }
    </div>
  </div>
</div>
