.container {
  display: flex;
}

.countdown {
  font-weight: bold;
  font-size: 24px;
  color: red;
}

.hands {
  display: flex;
  gap: 3;
}

.players-container {
}

.results-container {
  font-size: 24px;
}

.hand-picker,
.target-picker {
  display: flex;
  gap: 16px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

button {
  padding: 16px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 8px;
}

.hands {
  font-size: 48px;
}

.winner {
  font-weight: bold;
}

.winner--player {
  color: green;
}

.winner--cpu {
  color: red;
}

.score {
  font-size: 24px;
  color: blue;
}
