<div class="shi-wu-game">
  <h1>SHI WU DRINKING GAME (0-5-15-20)</h1>
  @if (countdown() !== null) {
  <div class="countdown">Countdown: {{ countdown() }}</div>
  }
  <div class="score">Score: {{ cpuScore() }}</div>
  <div class="player-area">
    <h2>CPU</h2>
    @if(cpuShowingHands() !== null) {
    <div class="hands">
      <div class="left-hand">
        @if(cpuLeftHandOpen()) { &#9995; } @else { &#9994; }
      </div>
      <div class="right-hand">
        @if(cpuRightHandOpen()) { &#9995; } @else { &#9994; }
      </div>
      <div class="target">CPU Target: {{ cpuTarget() }}</div>
    </div>
    } @else if (promptChooseHands()) {
    <div class="left-hand">&#9994;</div>
    <div class="right-hand">&#9994;</div>
    }
  </div>
  <div class="player-area">
    <h2>Player</h2>
    <div class="score">Score: {{ playerScore() }}</div>
    @if(playerShowingHands() !== null) {
    <div class="hands">
      <div class="left-hand">
        @if(playerLeftHandOpen()) { &#9995; } @else { &#9994; }
      </div>
      <div class="right-hand">
        @if(playerRightHandOpen()) { &#9995; } @else { &#9994; }
      </div>
      <div class="target">Target: {{ playerTarget() }}</div>
    </div>
    } @else if (promptChooseHands()) {
    <div class="left-hand">&#9994;</div>
    <div class="right-hand">&#9994;</div>
    }
    <div class="controls">
      @if(countdown() === 0) { TRY AGAIN! } @if (promptTargetPicking()) {
      <div class="target-picker">
        PICK A TARGET @for (target of TARGETS; track target) {
        <button (click)="actions.PICK_TARGET.next(target)">{{ target }}</button>

        }
      </div>
      } @else { SHOW HANDS @for (hand of HANDS_TO_SHOW; track hand) {
      <button (click)="actions.SHOW_HANDS.next(hand)">{{ hand }}</button>
      } }
    </div>
  </div>
  @if (result() !== null) {
  <div class="result">Result: {{ result() }}</div>
  <div class="winner">
    @if(winner()) { WINNER: {{ winner() }}
    } @else { TIE }
  </div>
  }
</div>
